<h1>Add Livro</h1>
<form action="/livros/add" method="POST">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="tema">Tema</label>
        <input type="text" class="form-control" id="tema" name="tema" required>
    </div>
    <div class="form-group">
        <label for="autor">Autor</label>
        <select class="form-control" id="autor" name="autorId" required>
            <% autores.forEach(autor => { %>
                <option value="<%= autor.id %>"><%= autor.nome %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>