<h1>Add Autor</h1>
<form action="/autores/add" method="POST">
    <div class="form-group">
        <label for="nome">Autores</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>