<h1>Editar Autor</h1>
<form action="/autores/edit/<%= autor.id %>" method="POST">
    <div class="form-group">
        <label for="nome">Autor</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= autor.nome %>" required>
    </div>
 
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>